# Jupyter Notebook
.ipynb_checkpoints/*
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Data
*/doc_collection/*
*/IR_dataset/*
data/doc_collection
data/IR_dataset
.txt

# Environments
.env
.venv
env/
venv/